# Allow users to add their own .gitignore lower down the directory tree
.gitignore
# Ignore all model output
*.nc.*
*.nc
*.out
CPU_stats
exitcode
available_diags*
SIS.available_diags*
RESTART
_read_error.nml
fort.*
# Ignore intermediate files generated while testing
*.pyc
