[submodule "pkg/CVMix-src"]
	path = pkg/CVMix-src
	url = https://github.com/CVMix/CVMix-src.git
[submodule "pkg/GSW-Fortran"]
	path = pkg/GSW-Fortran
	url = https://github.com/TEOS-10/GSW-Fortran.git
[submodule "pkg/MOM6_DA_hooks"]
	path = pkg/MOM6_DA_hooks
	url = https://github.com/MJHarrison-GFDL/MOM6_DA_hooks.git
[submodule "pkg/geoKdTree"]
	path = pkg/geoKdTree
	url = https://github.com/travissluka/geoKdTree.git
