spack:
  specs:
  - 'access-mom6@git.{{ ref }}=stable +access3 ~mom6_solo ^openmpi'
  packages:
    cmake:
      require:
      - '@3.31.6:'
    gcc-runtime:
      require:
      - '%access_gcc'
      - 'target={{ target }}'
    intel-oneapi-compilers:
      require:
      - '@{{ oneapi_compiler_version }}'
    all:
      require:
      - '%access_oneapi'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
