spack:
  specs:
  - 'access-om3@latest ^openmpi'
  packages:
    cmake:
      require:
      - '@3.31.6:'
    access3:
      require:
      - 'configurations=MOM6,MOM6-CICE6,MOM6-CICE6-WW3'
    access-mom6:
      require:
      - '@git.{{ ref }} +asymmetric_mem'
    gcc-runtime:
      require:
      - '%access_gcc'
      - 'target={{ target }}'
    intel-oneapi-compilers:
      require:
      - '@{{ oneapi_compiler_version }}'
    all:
      require:
      - '%access_oneapi'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
